body{
    background-color: black;
    color: white;
}

.introduction{
    display: flex;
    height: 600px;
}

#pizza_house{
    padding-top: 5%;
    padding-bottom: 5%;
}

.introduction_content{
    padding: 4%;
    text-align: center;
    justify-content: center;
    line-height: 30px;
}

.introduction_button{
    padding-top: 3%;
}

.choice{
    text-align: center;
    font-size: large;
}

.pizza_choice{
    display: flex;
    padding: 4%;
    justify-content: space-between;
}

.pizza_row_two{
    padding-top: 3%;
    padding-bottom: 10%;
}

.classic_pizza{
    text-align: center;
    justify-content: center;
    height: 400px;;
}

#classic_pizza{
    padding-top: 3%;
    padding-bottom: 1%;
}

.ul{
    list-style-type: none;
    line-height: 30px;
}


.create_pizza_heading{
    text-align: center;
    justify-content: center;
}

.toppings_rows{
    display: flex;
}

.toppings_row_one{
    padding-right: 5%;
}

.footer{
    font-size: x-small;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    text-align: center;
}

.about_us{
    width: 500px;
    padding-left: 3%;
}

.copyright{
    font-size: xx-small;
    text-align: center;
    justify-content: center;
}